<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
    "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>

  <!-- Servlets -->
  <servlet>
    <servlet-name>dataProvider</servlet-name>
    <servlet-class>org.fortytwo.developer.mybudget0123.server.DataProviderImpl</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>dataProvider</servlet-name>
    <url-pattern>/MyBudget0123/data</url-pattern>
  </servlet-mapping>

  <!-- Default page to serve -->
  <welcome-file-list>
    <welcome-file>MyBudget0123.html</welcome-file>
  </welcome-file-list>

</web-app>
